name: Renovate

on: [push]

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: rm -f .npmrc
      - name: Get CodeArtifact token
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.INFRA_CODEARTIFACT_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.INFRA_CODEARTIFACT_SECRET_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.INFRA_AWS_REGION }}
          AWS_INFRA_ACCOUNT: ${{ secrets.INFRA_AWS_ACCOUNT }}
          DOMAIN: ${{ secrets.INFRA_CODEARTIFACT_DOMAIN }}
        run: aws codeartifact login --tool npm --domain $DOMAIN --domain-owner $AWS_INFRA_ACCOUNT --repository veda-cdk-constructs --namespace @veda-cdk
      - name: Install Renovate CLI
        run: npm i -g renovate yarn pnpm
      - name: Run Renovate
        env:
          RENOVATE_TOKEN: ${{ secrets.RENOVATE_TOKEN }}
          AWS_INFRA_ACCOUNT: ${{ secrets.INFRA_AWS_ACCOUNT }}
          LOG_LEVEL: DEBUG
        run:
          renovate --platform github --require-config false --onboarding false VedaDataSolutions/aws-management